<!DOCTYPE html>
<html lang="en">
<%- include('templates/css'); %>

<body>
    <%- include('templates/header'); %>
        
            <button style="margin: 5px;" type="button" class="btn btn-primary" onclick="window.location.href='/login'"> Login</button>
            <button style="margin: 5px;" type="button" class="btn btn-primary" onclick ="window.location.href='/signup'"> Signup</button>
            
    <%- include('templates/footer'); %>
</body>
    
</html>